*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}   
.header{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    background: url(thumbnails/Screenshot_20230215_015750.png);
    height: 350px;
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    color: black;
    position: relative;
    
}

.about-header {
    display: flex;
    color: silver;
    position: absolute;
    justify-content: center;
    bottom: 0;
    margin-left: 120px;
    font-size: 60px;
    margin-bottom: 70px;
}

.logo{
    margin-top: -160px;
    color: #ff7200;
    font-size: 33px;
    font-family: Arial;
    float: left;
    font-weight: bold;
    
    
    }
    .translate {
        margin-top: -125px;
        color: wheat;
        font-size: 20px;
        margin-left: 30px;
        }

.nav-links{
    flex: 1;
    text-align: right;
    margin-top: -250px;


}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}
.nav-links ul li a{
    margin-left: 5px;

    color: white;
    text-decoration: none;
    font-size: 17px;
    transition: 0.4s ease-in-out;
    font-family: Arial;
    font-weight: bold;

}

ul li a:hover{
    color: #ff7200;
    text-decoration:underline;
    padding: 5px;
    margin: 0;
    }

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}


nav .fa{
    display: none;
}
.mission-div {
    margin-right: 50px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 20px;
}
.mission {
    font-size: 50px;
    margin-bottom: 20px;
}
.mission-description {
    font-size: 20px;

}
.mission-con {
    margin-left: 65px;
    text-align: justify;    
    margin-bottom: 35px;
}

    
.footer {
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    
}

.next {
    color: red;
    font-size: 20px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 40px;
}














@media(max-width: 700px){
    .header {
        height: 190vh;
    }
    
    .nav-links ul li{
        display: block;

    }
    .nav-links{
        position: fixed;
        background: rgb(180, 147, 125);
        height: 120vh;
        width: 200px;
        top: 258px;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    .nav-links ul li {

        margin: 0;
    }
    nav .fa{
        color: white;
        display: block;
        font-size: 22px;
        cursor: pointer;

    }
    .nav-links ul{
        padding: 30px;
    }
    .logo {
        margin-top: -20px;
        font-size: 30px;
    }
    .translate {
        margin-top: 0px;
        font-size: 20px;

    }
    .footer {
        margin-top: 0;
    }
    .next {
        font-size: 17px;
        margin-top:0;
        margin-right: 10px;
        margin-left:20px;
    }
    .about-header {
        margin-left:    -20px;
    font-size: 30px;
    }
    .mission {
        font-size: 40px;
    }
}